*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

body{
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

main{
    width: 80%;
    height: 80%;
    background: rgb(182, 182, 133);
    border-radius: 10px;
    overflow: hidden;
}

.panel{
    height: 100px;
    width: 100%;
    background-color: aquamarine;
    display: flex;
    justify-content: space-around;
}

.elem{
    display: flex;
    justify-items: center;
    align-items: center;
}

.state{
    background: white;
    margin: 5px;
    padding: 10px 10px;
    border-radius: 5px;
}

.mainWindow,.problem{
    padding: 10px;
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.problem{
    font-size: 3rem;
}

button{
    width: 4rem;
    height: 3rem;
    font-size: 2rem;
}